<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Address Book</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Add New Buddy...</h1>
<form action="#" th:action="@{/add}" th:object="${buddy}" method="post">
    <p>Name: <input type="text" th:field="*{name}" /></p>
    <p>Phone Number: <input type="text" th:field="*{phoneNumber}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>

<!--<h3>Address Book</h3>-->
<!--<table class="tg">-->
    <!--<tr>-->
        <!--<th width="120">Name</th>-->
        <!--<th width="120">Phone Number</th>-->
    <!--</tr>-->
    <!--<tr th:each="buddy : ${buddies}">-->
        <!--<td th:text="${buddy.name}"></td>-->
        <!--<td th:text="${buddy.phoneNumber}"></td>-->
    <!--</tr>-->
<!--</table>-->

</body>
</html>